* {
    margin: 0;
    padding: 0;
}

.boton {
    margin: 80px;
    pad: 5px;
    transform: skew(15deg);
    transition: 2s;
}

.div3 {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.div3 button:hover {
    transform: scale(2);
}

.div3 button {
    background: rgb(251, 63, 203);
    background: radial-gradient(circle, rgba(251, 63, 203, 1) 4%, rgba(212, 206, 88, 1) 27%, rgba(184, 188, 78, 1) 67%, rgba(216, 70, 252, 1) 100%);
    ;
    border-radius: 15px;
    border: 0;
}

.divImg {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
}

.divImg img {
    max-width: 20vw;
    max-height: 20vh;
    animation-name: girando;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.estiloInicial {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(147, 212, 88, 1) 27%, rgba(184, 188, 78, 1) 66%, rgba(252, 70, 107, 1) 100%);
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 550px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}

.separador {
    margin-top: 15px;
    height: 20px;
    background-color: blueviolet;
}

.subtitulo {
    margin-top: 55px;
    text-align: center;
}

.titulo1 {
    color: blue;
}

.titulo2 {
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 45, 60, 1) 100%);
    border-radius: 5px;
    animation-duration: 3s;
}

.texto {
    margin: 25px;
    padding: 15px;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.texto1 {
    font-style: italic;
    font-size: small;
}

@keyframes girando {
    0% {
        transform: rotate(0deg);
    }

    6.25% {
        transform: rotate(22.5deg);
    }

    12.5% {
        transform: rotate(45deg);
    }

    18.75% {
        transform: rotate(67.5deg);
    }

    25% {
        transform: rotate(90deg);
    }

    31.25% {
        transform: rotate(112.5deg);
    }

    37.5% {
        transform: rotate(135deg);
    }

    43.75% {
        transform: rotate(157.5deg);
    }

    50% {
        transform: rotate(180deg);
    }

    56.25% {
        transform: rotate(202.5deg);
    }

    62.5% {
        transform: rotate(225deg);
    }

    68.75% {
        transform: rotate(247.5deg);
    }

    75% {
        transform: rotate(270deg);
    }

    81.25% {
        transform: rotate(292.5deg);
    }

    87.5% {
        transform: rotate(315deg);
    }

    93.75% {
        transform: rotate(337.5deg);
    }

    100% {
        transform: rotate(360deg);
    }
}